<main role="main" class="container">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">FirstName</th>
          <th scope="col">LastName</th>
          <th scope="col">Email</th>
          <th scope="col">Gender</th>
          <th scope="col">IpAddress</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of User | paginate: { itemsPerPage: 10, currentPage: pageNumber, totalItems:Count }">
          <!-- content here -->
          <td>{{ item.id }}</td>
          <td>{{ item.firstName }}</td>
          <td>{{ item.lastName }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.gender }}</td>
          <td>{{ item.ipAddress }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row" style="float: right">
    <!-- standart component style  -->
    <pagination-controls class="my-pagination" maxSize="10" responsive="true" (pageChange)="onPageChange($event)">
    </pagination-controls>

    <!-- customize component style -->
    <!-- <pagination-controls id="some_id" (pageChange)="onPageChange($event)" maxSize="9" directionLinks="true"
      autoHide="true" responsive="true" previousLabel="Previous" nextLabel="Next"
      screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
    </pagination-controls> -->
  </div>
</main>